<tr bgcolor=ffffff>
    <td>
        {junitreport:directory=file:///c:/test-reports}<br/>
        <span style="color: #666666; font-size: 10px;">$action.getText('junitreport.currently.only.supports.xml')</span><br/>
        <br/>
        {junitreport:url=file:///test-reports/TestRep.xml}
    </td>
    <td>
        $action.getText('junitreport.desc')

        <p>
        <table width="100%" cellspacing="0" class="grid">
            <tr>
                <th colspan=2 width=230>$action.getText('junitreport.success.rate')</th>

                <th>$action.getText('junitreport.tests')</th>
                <th>$action.getText('junitreport.failures')</th>
                <th>$action.getText('junitreport.times')</th>
                <th>$action.getText('junitreport.times')</th>
            </tr>
            <tr class="error">
                <td align="center" width=30>93%</td>

                <td align="center" width=1%>
                    <table width="200" height="15" cellpadding="0" cellspacing="0" border="0" class="estimateGraph">
                        <tr>
                            <td width="186" class="greenbar"><img src="$req.contextPath/images/border/spacer.gif" border="0" width="186" height="1" /></td>
                            <td width="14" class="redbar"><img src="$req.contextPath/images/border/spacer.gif" border="0" width="14" height="1" /></td>
                        </tr>
                    </table>
                </td>
                <td align="center">14</td>

                <td align="center">1</td>
                <td align="center">0</td>
                <td align="center">1.531</td>
            </tr>
        </table></p>

    </td>
</tr>