#if ($actionErrors && $actionErrors.size() > 0)
    <ul>
    #foreach ($error in $actionErrors)
        <li class="update-item update-item-error">$generalUtil.htmlEncode($error)</li>
    #end
    </ul>
#end
