#if ($nextPageUrl)
<div class="more-link-container">
    <a class="more-link" href="$nextPageUrl">$i18n.getText('show-more')</a>
    <img class="waiting-image" alt="$i18n.getText('recently.updated.please.wait')" src="$staticResourceUrlPrefix/images/icons/wait.gif">
</div>
#end
