<style>
  .aui td     { white-space:nowrap; }
</style>

<table width="100%" cellspacing="0" class="aui">
    <tr>
        <th>$action.getText("page-version")</th>
        <th>$action.getText("date.name")</th>
        <th>$action.getText("comment.name")</th>
    </tr>
    <tr id="rowForVersion$page.version">
        <td align="left">
            <b>
            <a href="$!req.contextPath/display/$space.key/viewpage.action?pageId=$page.id">$action.getText("macros.changehistory.current.version")</a>
            (v. $page.version)
            </b>
        </td>
        <td align="middle">
            <b>
            $action.dateFormatter.formatDateTime($page.lastModificationDate)
            </b>
        </td>
        <td style="white-space:normal;" class="versionComment">
          <b>#userLink ($page.lastModifier)</b>#if ($page.isVersionCommentAvailable()):<br/>
          $page.renderedVersionComment#end
        </td>
    </tr>
    #if( $previousVersions )
        #foreach( $oldPage in $previousVersions )
            <tr id="rowForVersion$oldPage.version" valign="top">
                <td align="left">
                    <a href="$!req.contextPath/display/$space.key/viewpage.action?pageId=${oldPage.id}">v. $oldPage.version</a>
                </td>
                <td align="middle">
                    $action.dateFormatter.formatDateTime( $oldPage.lastModificationDate )
                </td>
                <td style="white-space:normal;" class="versionComment">
                  <b>#userLink ($oldPage.lastModifier)</b>#if ($oldPage.isVersionCommentAvailable() == true):
                    <br/>$oldPage.renderedVersionComment#end ## Only put in a break if there's a comment
                </td>
            </tr>
        #end
    #end
</table>   