<tr bgcolor=ffffff>
    <td>
        {gallery}
        <br/>
        <br/>
        {gallery:columns=3}
        <br/>
        <br/>
        {gallery:title=Some office photos, and a waterfall|columns=3}
        <br/>
        <br/>
        {gallery:title=Some office photos, without the waterfall|exclude=waterfall.jpg}
        <br/>
        <br/>
        {gallery:title=One office photo, and a waterfall|include=office1.jpg,waterfall.jpg}
        <br/>
        <br/>
        {gallery:title=Some office photos, and a waterfall|page=Gallery of Pictures}
        <br/>
        <br/>
        {gallery:title=Some office photos, and a waterfall|page=DOC:Gallery of Pictures}
        <br/>
        <br/>
        {gallery:title=Some office photos, and a waterfall|sort=name}
        <br/>
        <br/>
        {gallery:title=Some office photos, and a waterfall|sort=date|reverse=true}
    </td>
    <td>
        $action.getText('gallery.desc')
    </td>
</tr>