#if ($textUtil.stringSet($title))
<h3>$generalUtil.htmlEncode($title)</h3>
#end

#if ($contents.size() > 0)
<ul class="content-by-label">
        #set ($contentSublist = $generalUtil.safeSubList($contents, $maxResults))
        #foreach ($content in $contentSublist)
        <li>
            <div>
                #contentIconWithLinkPrefix($content $staticResourceUrlPrefix)
            </div>

            <div class="details">
                #contentHrefWithLinkPrefix($content $req.contextPath)
                #if ($showSpace) #contentOther($content) #end

                #if ($excerptHelper.shouldRenderExcerpt($content))
                    <span class="smalltext">&mdash; $excerptHelper.getRenderedExcerpt($content)</span>
                #end

                #if ($showLabels)
                <div class="label-details">
                    #if( $limitLabelLinksToSpace )
                        #set( $spaceKey = $content.getSpaceKey() )
                    #else
                        #set( $spaceKey = "" )
                    #end

                    #set ($labels = $content.getVisibleLabels($action.authenticatedUser))
                    #parse("/labels/labels-list.vm")
                </div>
                #end
            </div>
        </li>
        #end
</ul>
#else
    <div class="content-by-label macro-blank-experience" #if ($width)style="width: $generalUtil.htmlEncode($width)" #end>
        <strong class="content-label-header">$i18n.getText('contentbylabel.emptymacro.label')</strong>
        <p>$i18n.getText('contentbylabel.emptymacro.content')</p>
    </div>
#end
#if ($contents.size() != $unfilteredResultsCnt)
    <div>
        <a class="search-pages-by-label-link" href="$searchPagesByLabelsURL">
            $action.getText("contentbylabel.unfiltered-cnt.msg", [$unfilteredResultsCnt])
        </a>
    </div>
#end 
