<tr bgcolor=ffffff>
    <td>
        {recently-updated}
        <br/>
        {recently-updated: spaces=sales,marketing &#124; labels=timesheets,summaries}
        <br/>
        {recently-updated: labels=+confluence,-jira &#124; spaces=@all}
        <br/>
        {recently-updated: spaces=NOVELS,SHORTSTORIES &#124; sort=creation &#124; reverse=true}
    </td>

    <td>
        <p>
       $action.getText('recentlyupdated.desc')

            <ul>
                <li>space/spaces - $action.getText('space.criteria.param.desc') $action.getText('recentlyupdated.spaces.desc.default')</li>
                <li>label/labels - $action.getText('label.criteria.param.desc')</li>
                <li>width - $action.getText('recentlyupdated.width.desc')</li>
                <li>type/types - $action.getText('recentlyupdated.type.criteria.param.desc') $action.getText('recentlyupdated.type.desc.default')</li>
            </ul>
        </p>

    </td>
</tr>
