<tr bgcolor=ffffff>
    <td>
        {search:query=my_query}
        <br/>
        <br/>
        {search:query=my_query|maxLimit=x}
    </td>
    <td>
        $action.getText('inlinesearch.desc')
        <ul>
            <li><b>query:</b> $action.getText('inlinesearch.query.desc')</li>
            <li><b>maxLimit=x:</b> $action.getText('inlinesearch.maxlimit.desc')</li>
            <li><b>spacekey:</b> $action.getText('inlinesearch.spacekey.desc')</li>
            <li><b>type:</b> $action.getText('inlinesearch.type.desc')</li>
            <li><b>lastModified:</b> $action.getText('inlinesearch.lastmodified.desc')</li>
            <li><b>contributor:</b> $action.getText('inlinesearch.contributor.desc')</li>
        </ul>
        <p>$action.getText('example.name'):</p>
        <h4>$action.getText('found.x.results.for.query', ["<b>2</b>","<b>home</b>"])</h4>
        <table width="100&#37;" cellspacing="0" class="grid">
            <tr>
                <td>
                    <img src="$req.contextPath/images/icons/home&#95;16.gif" height="16" width="16" border="0" align="absmiddle" title="Home (Space Home Page)">
                    <a href="/display/DEV/Home">Home</a>
                    <span class="smalltext">(My Space)</span>
                    <br/>
                                <span class="smalltext">This is the
                                    <span class="search-highlight">home</span> page for My Space.
                                </span>
                </td>
            </tr>
            <tr>
                <td>
                    <img src="$req.contextPath/images/icons/attachments/pdf.gif" height=16 width=16 vspace=1 border=0 align=absmiddle alt="PDF File">
                    <a href="#">file-containing-home.pdf</a>
                                <span class="smallfont">(
                                    <a href="#">download</a>)
                                </span>
                </td>
            </tr>
        </table>
    </td>
</tr>