.junit-report-macro-container .greenbar {
    background-color: #14892c;
}
.junit-report-macro-container .redbar {
    background-color: #d04437;
}
.junit-report-macro-container .darkredbar {
    background-color: #a11a10;
}
.junit-report-macro-container .testpassed {
    background-color: #dfd;
}
.junit-report-macro-container .testfailed {
    background-color: #fdd;
}
.junit-status-icon-position {
    vertical-align: middle;
}
.junit-report-macro-container .junit-report-macro-status-bar-container {
    font-size: 0;
    line-height: 0;
    padding-top: 12px;
}
.junit-report-macro-status-bar-container {
    min-width: 150px;
}
.junit-report-macro-status-bar-container span {
    display:inline-block;
    height: 10px;
    line-height: 10px;
}
.junit-report-macro-debug-text {
    color: #707070;
}
.junit-report-macro-tally span {
    display: inline-block;
    padding-right: 10px;
}
.junit-report-macro-container .junit-report-macro-indent-test {
    padding-left: 50px;
}
.junit-report-macro-container .junit-report-macro-indent-module {
    padding-left: 30px;
}
.junit-report-macro-test-name {
    min-width:250px;
}
.junit-report-macro-container .junit-report-macro-percent-success {
    min-width: 30px;
    text-align: right;
}