.update-groupings .grouping {
    border-top: none;
    overflow: hidden;
    margin-top: 10px;
}

.update-groupings .grouping:first-child {
    margin-top: 0;
}

.recently-updated-social .filter-control,
.recently-updated-social .no-results-message {
    border-bottom: 1px solid #eee;
    padding: 10px;
}

.recently-updated-social .update-item-error {
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    padding: 10px;
    color: #707070;
}

ul.update-groupings li .icon-container.content-type-status {
    color: black;
}

.update-item-profile {
    float: left;
}

.recently-updated-social .update-items {
    padding-left: 58px; /* 48px avatar width + 10px grid margin */
    margin-top: -3px; /* rid 3px line-height */
}

.update-items .confluence-userlink {
    text-decoration: none;
    font-weight: bold;
}

.recently-updated-social .update-item {
    overflow: auto;
    margin-top: 10px;
}

.recently-updated-social div + .update-item {
    margin-top: 7px; /* there's already 3px of line-height on the div preceding it */
}

.recently-updated-social .update-item-icon {
    margin-top: 0;
}

.recently-updated-social .update-item-details {
    padding-left: 21px; /* 16px icon + 5px grid */
    color: #707070;
}

.recently-updated-social .userLogo {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

ul.update-items li.update-item a {
    font-weight: normal;
}

.recently-updated-social .update-item-permlink a:hover span {
    background-image: url(../../../images/icons/permalink_dark_16.png)
}
.recently-updated-social .update-item-permlink a span {
    cursor: pointer;
    float: left;
    height: 16px;
    width: 16px;
    text-indent: -9999px;
    background: url(../../../images/icons/permalink_light_16.png) no-repeat;
    margin-left: 0.5em;
}

.recently-updated-social h4.sub-heading {
    border-bottom: 1px solid #ddd;
    color: #707070;
    font-size: 1em;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 2px;
}

.recently-updated-social .update-item-changes:before {
    content : '\2022';

}
