.recently-updated-concise .update-item-content {
    padding-left: 21px;
}

.recently-updated-concise .update-item-meta {
    font-size: 12px;
    line-height: 16px;
    color: #707070;
}

.recently-updated-concise .update-item-meta > a,
.recently-updated-concise .update-item-meta > a:link,
.recently-updated-concise .update-item-meta > a:visited,
.recently-updated-concise .update-item-meta > a:active,
.recently-updated-concise .update-item-meta > a:hover {
    color: inherit;
}

.recently-updated-concise .update-item {
    margin-top: 7px; /* 10px grid - 3px line-height */
}

.recently-updated-concise .update-item:first-child {
    margin-top: 0;
}

.recently-updated-concise .separator {
    color: #707070;
}

.recently-updated-concise .filter-control {
    border-bottom: 1px solid #eee;
    padding: 5px;
}
